<!DOCTYPE html>
<html lang="fr">
<head>
<style type="text/css">
table th { background: #AAA; padding:1em; }
table td { background: #CCC; padding:1em; }
</style>
</head>
<body>
<table>
<tr>
<th>Object ID</th>
<th>Date</th>
<th>Difficulty</th>
<th>Agent</th>
<th>First player</th>
<th>Number of moves</th>
<th>Result</th>
</tr>
{% for match in matches %}
<tr>
<td><a href="/match/{{ match['_id'] }}">{{ match['_id'] }}</a></td>
<td>{{ match['start_timestamp'] }}</td>
<td>{{ match['agent'] }}</td>
<td>{{ match['result'] }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>

